@import '../../../../styles/common';
@import '../../../../styles/vendor/bootstrap_foundation-sites';


$l-navigation-wrapper__margin-top: 6rem;

.l-navigation {
  position: relative;
  max-width: $co-site-width;
  margin-right: auto;
  margin-left: auto;

  &__wrapper {
    @include flex-grid-row($size: expand);
    position: absolute;
    top: 0;
    z-index: $l-z-index__navbar;
    width: 100%;
    max-width: $co-site-width;
    min-height: $co-component__height;
    margin-top: $l-navigation-wrapper__margin-top;
    background-color: $co-color__bg__back--higher;

    &--sticky {
      position: fixed;
      top: 3.25rem; // = 52px = .l-header height
      margin-top: 0;
      box-shadow: $co-shadow;
    }
  }

  &__application-switcher {
    @include flex-grid-column(shrink, 0);
  }

  &__tab-list {
    @include flex-grid-column($gutters: 0);
  }

  &__sliders-toggle {
    @include flex-grid-column(shrink, 0);
  }

  &__sliders-toggle-button {
    color: $co-color__importance;
  }

  &__sliders-dropdown {
    width: calc(1 + 2 * 1rem); // width of the toggle button: icon width + padding
    height: 50vh;
    background-color: $co-color__fg__back;
    box-shadow: $co-shadow;
    white-space: nowrap;
  }

  &__sliders-container {
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;

    // SHAME: force center slider
    // and prevent closing Dropdown when releasing mouse outside of the slider
    .rc-slider {
      margin-right: auto;
      margin-left: auto;
    }
  }
}
